*.o
test_hash
test_counter
suniq
data.txt

# automake/autoconf files
config.h
config.h.in
config.log
config.status
configure
configure.scan
Makefile
autoscan.log
autom4te.cache/
Makefile.in
aclocal.m4
depcomp
install-sh
missing
compile
